:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 0 255 160;
  --oui-color-primary-light: 0 255 180;
  --oui-color-primary-darken: 0 200 130;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 0 255 160;
  --oui-color-link-light: 0 255 180;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 220 220 220;
  --oui-color-quaternary: 190 190 190;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 0 255 160;
  --oui-color-success-light: 0 255 180;
  --oui-color-success-darken: 0 200 130;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 10 10 10;
  --oui-color-fill-active: 20 20 20;

  --oui-color-base-1: 40 45 40;
  --oui-color-base-2: 36 40 36;
  --oui-color-base-3: 32 36 32;
  --oui-color-base-4: 28 32 28;
  --oui-color-base-5: 24 28 24;
  --oui-color-base-6: 20 24 20;
  --oui-color-base-7: 50 60 50;
  --oui-color-base-8: 16 18 16;
  --oui-color-base-9: 14 16 14;
  --oui-color-base-10: 12 14 12;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 80 80 80;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 255 160;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 0 230 140;
  --oui-gradient-primary-end: 0 255 160;

  --oui-gradient-secondary-start: 0 200 130;
  --oui-gradient-secondary-end: 0 255 160;

  --oui-gradient-success-start: 0 100 70;
  --oui-gradient-success-end: 0 255 160;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 0 230 140;
  --oui-gradient-brand-end: 0 255 160;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 20 20 20;
  --oui-gradient-neutral-end: 30 30 30;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}